.clientMarquee {
    border: none;

    .content {
        display: flex;
        flex-direction: row;
        gap: 100px;
        padding: 100px 50px;

        .singleClient {
            width: 300px;
            height: 300px;
            display: flex;
            align-items: center;

            img {
                width: 100%;
                height: 180px;
                object-fit: contain !important;
                object-position: center;
                transition: 0.4s all ease-in-out;

                &:hover {
                    transform: scale(1.4);
                }
            }
        }
    }

    @media (max-width: 1024.5px) {
        .content {
            gap: 60px;
            padding: 70px 20px;
            .singleClient {
                width: 160px;
                height: 160px;
                img {
                    width: 100%;
                    height: 100px;
                    &:hover {
                        transform: scale(1.2);
                    }
                }
            }
        }
    }

    @media (max-width: 575.5px) {
        .content {
            gap: 50px;
            padding: 50px 20px;
            .singleClient {
                width: 120px;
                height: 120px;
                img {
                    width: 100%;
                    height: 80px;
                    &:hover {
                        transform: scale(1.2);
                    }
                }
            }
        }
    }
}
