@import url("https://api.fontshare.com/v2/css?f[]=switzer@200,300,400,500,600,700,800,900,1&display=swap");

:root {
    --white-color: #ffffff;
    --background-color: #000000;
    --text-color: rgb(255, 244, 226);
    --black-color: #000000;
    --font-switzer: "Switzer", sans-serif;
}

html {
    background: var(--black-color);
    overflow-x: hidden !important;
    -webkit-tap-highlight-color: transparent !important;
}

body {
    color: var(--white-color);
    height: 100%;
    margin: 0px;
    overflow-x: hidden !important;
}

a {
    text-decoration: none;
}
img {
    object-position: center;
    object-fit: cover;
}
